<div class="landing-container min-vh-100">

  <div class="container min-vh-100 d-flex flex-column">
    <div class="py-5 text-center">
      <img src="assets/img/brand/logo.svg" class="img-fluid" alt="">

      <h3 class="text-success bold mt-3">
        Welcome to the<br>Womsh Blockchain System
      </h3>

      <h5 class="bold">
        Choose change. <br>
        Choose beauty. <br>
        Choose Womsh.
      </h5>
    </div>

    <div class="text-center d-flex flex-column align-items-center">
      <img src="assets/img/sneaker.png" alt="" style="width:100%; max-width: 800px">
      <div>
        <a routerLink="/product" class="btn btn-lg btn-outline-success mt-3">Explore</a>
      </div>
    </div>

    <div class="mt-auto mb-3 text-center px-3">
      <small class="text-white">
        This production batch has been certified by Genuine Way SA through the use of the blockchain technology
      </small>
    </div>
  </div>


</div>
