.indicator {
  position: absolute;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
}

.with-circle-bg {
  background-image: url(../../../assets/img/circle.svg);
  background-repeat: no-repeat;
  background-position: -20%;

  @media screen and (min-width: 768px) {
    background-position: left;
    background-size: 50%;
  }
}

.indications-text {
  @media screen and (min-width: 500px) {
    color: rgb(67, 160, 71) !important;
  }
}
