<div class="mt-5 d-flex flex-column align-items-center justify-content-between h-100">
  <h3 class="bold">Choose the change</h3>
  <div class="divider"></div>

  <p class="bold mt-5 text-center">
    This shoe was made entirely from<br>
    <span class="text-success">environmentally sustainable materials</span>,<br>
    and every step in the supply chain is<br>
    tracked and certified on blockchain.
  </p>
  <div class="my-5 d-flex flex-column align-items-center justify-content-center p-4 position-relative" style="width:900px; max-width: 100%;" [ngClass]="{'with-circle-bg': ab.el.productPageLayout}">
    <img src="assets/img/sneaker.png" style="width:800px; max-width: 100%;">
    <img
         *ngFor="let feature of features"
         src="assets/img/indicator.svg"
         class="indicator"
         [ngClass]="{'d-none': ab.el.productPageLayout}"
         [ngStyle]="feature.position"
         (click)="openFeatureModal(featureModal, feature.key)">
  </div>
</div>

<div *ngIf="!ab.el.productPageLayout" class="mb-5">
  <p class="text-white text-center bold">
    Click on circle indicators to enjoy the<br>sustainability story of the shoe
  </p>
</div>

<div *ngIf="ab.el.productPageLayout" class="text-center">
  <svg width="43" height="32" viewBox="0 0 43 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_11_67)">
      <path d="M32.25 12.9401L29.7238 11.0601L21.5 17.1667L13.2763 11.0601L10.75 12.9401L21.5 20.9401L32.25 12.9401Z" fill="#43A047" />
    </g>
    <defs>
      <clipPath id="clip0_11_67">
        <rect width="32" height="43" fill="white" transform="translate(43) rotate(90)" />
      </clipPath>
    </defs>
  </svg>

</div>

<div *ngIf="ab.el.productPageLayout" class="container">

  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel *ngFor="let feature of features" [id]="feature.key">
      <ng-template ngbPanelTitle>
        <div class="d-flex flex-column">
          <h1 class="bold">{{ feature.title }}</h1>
          <div class="divider"></div>
        </div>

      </ng-template>
      <ng-template ngbPanelContent>
        <app-feature [feature]="selectedFeature" [withTitle]="false"></app-feature>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>

<ng-template #featureModal let-modal>
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="position: absolute; right: 20px; top: 20px"></button>
    <app-feature [feature]="selectedFeature"></app-feature>
  </div>
</ng-template>
