<div class="container text-center mt-5">

  <h4 *ngIf="ab.el.emailInputCopy">
    <span class="bold mt-3">Register here to get your free coupon via email to be used on any product of this brand.</span>
  </h4>

  <h5 *ngIf="!ab.el.emailInputCopy">
    <h1 class="bold">
      Are you an<br><span class="text-success">ethical consumer</span>?
    </h1>
    Sign up here to stay up to date with our brand <b>newsletter</b> and receive news and offers from the Genuine Way <b>ecosystem</b> of sustainable companies
  </h5>


  <div class="input-group my-5">
    <input type="text" class="form-control form-control-lg" placeholder="Enter your email">
    <button class="btn btn-success" type="button" id="button-addon2" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.8 15.9L4.6 11.7L3.2 13.1L8.8 18.7L20.8 6.70005L19.4 5.30005L8.8 15.9Z" fill="white" />
      </svg>
    </button>
  </div>

</div>
