@import "../../variables";

.product-container {
  background-color: $slate;

  &.with-bottom-wave {
    background-image: url(../../assets/img/product-wave.svg);
    background-position: bottom;
    background-repeat: repeat-x;
  }
}
