$green: #43a047;
$slate: #e0e0e0;
$white: #ffffff;

$font-family-sans-serif: Poppins, Helvetica, "sans-serif" !default;

$accordion-border-radius: 20px !important;
$accordion-inner-border-radius: 20px !important;
