@import "../../../variables";

.feedback-container {
  width: 500px;
  max-width: 95%;
  border-radius: 20px;
  border-color: $green;
  border-width: 3px;
  border-style: solid;
}

.emoji-fb {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 35px;
  padding: 0.2em;

  &:hover {
    font-size: 45px;
  }
}
